/*
Colors
Background Dark: #232425
Background Light: #CBCEE4
Text: #e6e8f6
#f4904f
*/
html {
  width: 100%;
}

/* Layout */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #CBCEE4;
  background-color: #262832;
  font-family: 'Roboto', sans-serif;
}

/*Navbar*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  padding: .5em;
  background-color: #262832;
  height: 2em;

  z-index: 999;
}

.shadow{
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  line-height: 2em;
}

nav h1 {
  margin: 0;
}

nav li {
  padding: 0;
}


.hamburger {
  width: 40px;
  margin-right: 1em;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #262832;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/default-bg.jpg");
}

.headline {
  background-color: rgba(227, 227, 227, 0.5);
  width: 25em;
  height: 25em;
  padding: 3em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  /* color: #f4904f; */
  font-size: 4em;
  /* -o-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -moz-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -webkit-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .75); */
  margin: 0;
}

header h2 {
  -o-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -moz-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  -webkit-text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .75);
  margin: 0;
  color: #e6e8f6;
}

/* Main */
main {
  width: 100%;
  align-items: center;
  background-color: #262832;
}

section {
  margin: 4em 0;
  padding: 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about {
  width: 100%;
}

#about>div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.portrait {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  align-self: flex-end;
}

.about-me {
  width: 40%;
  text-align: left;
}

#portfolio {
  padding: 0;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.slideshow {
  height: auto;
  margin-bottom: 6px;
  padding-top: 65px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.label {
  position: relative;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  padding: 6px;
  width: 100%;
}

.label h2 {
  margin: 0;
  padding: 0;
}

.place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding: 1em;
  background: rgba(35, 36, 37, .25);
}

.place a {
  margin: .5em;
}

.place-dots {
  display: inline;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.dot {
  display: inline;
  width: 1em;
  height: 1em;
  margin: .5em;
  opacity: .25;
  background-color: #CBCEE4;
  border-radius: 50%;
}

#skills div {
  padding: 0 4em;
}

.selected {
  opacity: 1;
}

#contact{
  text-align: center;
}

footer {}

/* Images */
.logo {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

/* Typography */
h1, h2, h3, h4 {
  text-align: center;
  margin: 0;
  font-family: 'Nunito', cursive;
  font-weight: 400;
}

h1 {
  /* color: #f4904f; */
  font-size: 3em;
}

nav h1 {
  font-size: 1.5em;
}

main h1 {}

a {
  color: inherit;
  text-decoration: none;
  transition: all .5s;
}

a:hover {
  color: #f4904f;
  font-size: 1.15em;
}

p {
  letter-spacing: .15em;
  margin: 2em;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  padding: 1em;
}

nav li {
  margin-right: 1em;
}

i {
  font-size: 2em;
}

em {
  color: #f4904f;
}

/*Form*/
form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  align-self: center;
}

textarea {
  box-sizing: border-box;
  height: 10em;
  font-size: 12px;
  padding: 8px;
  color: #666881;
  border: 3px solid #666881;
  font-weight: bold;
  width: 100%;
  margin-top: 8px;
  background-color: #e6e8f6;
}

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  padding: 8px;
  background: #e6e8f6;
  color: #666881;
  border: 3px solid #666881;
  font-weight: bold;
  margin-top: 8px;
}

input[type="submit"]{
  box-sizing: border-box;
}


@media only screen and (max-width: 840px) {
  body {
    text-align: center;
  }

  #about {
    padding: 0;
  }

  #about>div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portrait {
    width: 90%;
    align-self: center;
  }

  .about-me {
    text-align: center;
    width: 100%;
  }

  li {
    padding: .25em;
  }

  .logo {
    width: 75%;
  }

  .label h2 {
    font-size: 1.5em;
  }

  section {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .nav-links{
    display: none;
  }
  nav ul {
    padding: .5em;
    position: absolute;
    top: 3em;
    background-color: #262832;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    width: 100%;
  }
  .hamburger>div {
    height: 5px;
    border-radius: 5px;
    background-color: #CBCEE4;
    margin-bottom: 6px;
    display: block;
  }
  #show{
    display: show;
  }
}
