/*
Colors
Background Dark: #232425
Background Light: #CBCEE4
Text: #e6e8f6
#f4904f
*/
html {
  width: 100%;
}

/* Global */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #CBCEE4;
  background-color: #262832;
  font-family: 'Raleway', sans-serif;
}

.spin{
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
}

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Images */
.logo {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

/* Typography */
h1, h2, h3, h4 {
  text-align: center;
  margin: 0;
  font-weight: 400;
}

h1 {
  /* color: #f4904f; */
  font-family: 'Poller One', cursive;
  font-size: 3em;
}

h2{
  font-size: 2em;
  color: #f4904f;
}

nav h1 {
  font-size: 1.5em;
}

main h1 {}

a {
  color: inherit;
  text-decoration: none;
  transition: all .5s;
}

a:hover {
  color: #f4904f;
  letter-spacing: .25em;
}

.spin:hover{
  animation-play-state: running;
}

p {
  letter-spacing: .15em;
  line-height: 1.4em;
  margin: 2em;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  padding: 1em;
}

nav li {
  margin-right: 1em;
}

i {
  font-size: 2em;
}

em {
  color: #f4904f;
}


/*Navbar*/
nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #262832;
  height: 3em;
  z-index: 999;
  box-sizing: border-box;
}

nav h1 {
  margin: 0;
  letter-spacing: .2em;
  color: #f4904f;
}

nav li {
  height: 3em;
  transition: all .5s;
  width: 100%:
}

nav a{
  padding: .5em;
}

.shadow{
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 3em;

}

.hamburger {
  width: 40px;
  margin-right: 1em;
}

.active{
  background-color: #f4904f;
  color: #FFF;
}

.active a:hover{
  color: #FFF;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #262832;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/default-bg.jpg");
}

header h1 {
  /* color: #f4904f; */
  font-size: 4em;
  -o-text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  -moz-text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  -webkit-text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  margin: 0;
}

header h2 {
  -o-text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  -moz-text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  -webkit-text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
  margin: 0;
  color: #e6e8f6;
}


.headline {
  background-color: rgba(227, 227, 227, 0.5);
  width: 25em;
  height: 25em;
  padding: 3em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main */
main {
  width: 100%;
  align-items: center;
  background-color: #262832;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 4em 0;
  padding: 0;
}

section h1{
  margin-top: 1.75em;
}

/* About */

#about {
  width: 100%;

}

#about h2{
  margin-top: 3em;
}

.about-me{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.portrait {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  align-self: center;
}

.about-text {
  width: 40%;
  text-align: left;
  align-self: center;
}
.shut-up-stuff{
  font-size: 1.75em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.shut-up-stuff img{
  width: 100px;
  height: auto;
  margin-right: 1em;
}

.shut-up-stuff li{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shut-up-stuff p{
  margin-left: 1em;
}

.reading-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.reading-list li{
  max-width: 240px;
}

.reading-list img{
  margin: 0 auto;
  max-width: 200px;
  display:block;
}

/* Portfolio */
#portfolio {
  padding: 0;
  text-align: center;
}


.slideshow {
  height: auto;
  margin-bottom: 6px;
  padding-top: 65px;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.label {
  position: relative;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  padding: 6px;
  width: 100%;
}

.label h2 {
  margin: 0;
  padding: 0;
}

.label p{
  margin: 0;
}

.place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  bottom: 0;
  padding: 1em;
  background: rgba(35, 36, 37, .25);
}

.place a {
  margin: .5em;
}

.place-dots {
  display: inline;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.dot {
  display: inline;
  width: 1em;
  height: 1em;
  margin: .5em;
  opacity: .25;
  background-color: #CBCEE4;
  border-radius: 50%;
}

#skills div {
  padding: 0 4em;
}

.selected {
  opacity: 1;
}

#contact{
  text-align: center;
}



/*Form*/
form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  align-self: center;
}

textarea {
  box-sizing: border-box;
  height: 10em;
  font-size: 12px;
  padding: 8px;
  color: #666881;
  border: 3px solid #666881;
  font-weight: bold;
  width: 100%;
  margin-top: 8px;
  background-color: #e6e8f6;
}

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  padding: 8px;
  background: #e6e8f6;
  color: #666881;
  border: 3px solid #666881;
  font-weight: bold;
  margin-top: 8px;
}

input[type="submit"]{
  box-sizing: border-box;
}
.error{
  border: 2px solid #f4904f;
}

label{
  color:#f4904f;
  height: 1em;
  margin-top: 2px;
  display: block;
  font-size: .9em;
  text-align: left;
}


@media only screen and (max-width: 840px) {
  body {
    text-align: center;
  }

  p{
    font-size: 1.25em;
  }

  #about {
    padding: .5em;
  }

  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portrait {
    width: 90%;
    align-self: center;
  }
  .shut-up-stuff{
    flex-flow: column nowrap;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    font-size: 1.5em;
  }

  .shut-up-stuff img{
    width: 150px;
  }

  .shut-up-stuff li>*{
    margin: 1em;
  }

  .shut-up-stuff p{
    text-align: center;
  }

  .shut-up-stuff li{
    flex-direction: column;
    /* padding-right: 3em; */
  }
  .social-links a{
    font-size: 1.5em;
    padding: .75em;
  }

  .about-text {
    text-align: center;
    width: 100%;
  }


  li {
    padding: .25em;
  }

  .logo {
    width: 75%;
  }

  .label h2 {
    font-size: 1.5em;
  }

  section {
    padding: 0;
  }

  form{
    width: 85%;
  }
  nav{
   overflow: visible;
  }

  nav li{
    margin-right: 0;
  }
  .nav-links{
    display: none;
    flex-direction: column;

  }
  nav ul {
    padding: .5em;
    position: absolute;
    top: 2em;
    background-color: #262832;
    box-shadow: 2px 2px 2px rgba(0,0,0,.25);
    width: 100%;
  }
  .hamburger>div {
    height: 5px;
    border-radius: 5px;
    background-color: #CBCEE4;
    margin-bottom: 6px;
    display: block;
  }
  #show{
    display: show;
  }
}

@keyframes spin {
  100%{
    transform: rotate(1440deg);
  }
}
